/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/vendor
/.idea
/.vscode
/.vagrant
/app/analytics/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
laravel-echo-server.json
.rnd
.phpunit.result.cache
Dockerfile
app.conf
docker-compose.yml
