.user-profile {
  width: 23.2317613%;
  margin-right: 2.35765%;
  float: left;
  background: $white;
  border-radius: 3px;
  padding: 2em;

  ul {
    margin-top: 3em;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.user-profile-content {
  width: 74.41059%;
  background: $white;
  float: left;
  border-radius: 3px;
}

.avatar {
  display: flex;
  justify-content: center;

  img {
    vertical-align: middle;
    border-radius: 50%;
  }
}

.user-profile-username {
  margin-top: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  p {
    margin: 0;
  }
}
