.avatar-block-image, .avatar-block-menu, .user-main {
  @include animation(fadeIn 1s ease-in);
  padding: 2em;
  background: $white;
  border-radius: $base-border-radius;
}

.add-message-from {
  float: right;
  height: 2em;
  width: 2em;
  line-height: 2em;
  margin-top: .5em;
  text-align: center;
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;
  color: $grey-2;
  cursor: pointer;
  transition: $second-transitions;

  &:hover {
    color: $primary-1;
  }
}

.avatar-block-image, .user-main {
  margin-bottom: 2em;
}

.avatar-block-image, .avatar-block-menu {
  display: inline-block;
  width: 100%;
}

.avatar-block-menu {
  li {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      a {
        color: $secondary-2-1;
        font-weight: bold;
      }
    }
  }

  .menu-item-header {
    text-transform: uppercase;
  }
  
}

.friend-count, .message-count-all {
  float: right;
  height: 2em;
  line-height: 2em;
  margin: .5em 0 0;
  width: 2em;
  border-radius: $base-border-radius;
  background: $primary-1;
  color: $white;
  text-align: center;
}
.user-main {
  float: right;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.avatar-block-image-body {
  float: left;
  width: 100%;
}

.avatar-block {
  width: 24.208188%;
  margin-right: 3.167249%;

  .full-width-center {
    width: 100%;
    text-align: center;
    padding: .5em;
  }

  #user-form {
    display: none;
  }
}

.avatar-block-image-body {
  position: relative;
  cursor: pointer;

  img {
    float: left;
    width: 100%;
    border-radius: 3px;
  }

  .delete-btn, .edit-btn {
    position: absolute;
    background: $white;
    right: 0;
    margin-right: 0;
    box-shadow: $sixth-box-shadow;
    color: $grey-2;
    height: 3em;
    line-height: 3em;
    width: 3em;
    text-align: center;
    border-radius: 50%;

    opacity: 0;
    cursor: pointer;
  }

  .delete-btn {
    margin-top: .5em;
    transition: color .5s ease-in-out, opacity .5s ease-in-out, margin-right .5s ease-in-out;
  }

  .edit-btn {
    margin-top: 4em;
    transition: color .5s ease-in-out, opacity 1s ease-in-out, margin-right 1s ease-in-out;
  }

  &:hover {
    .delete-btn, .edit-btn {
      margin-right: .5em;
      opacity: 1;

      &:hover {
        color: $primary-1;
      }
    }
  }
}

.user-main-wrapper {
  width: 72.624563%;
}

.user-main-header {
  h3 {
    color: $secondary-2-1;
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
    height: 3rem;
    line-height: 3rem;

    a {
      color: $secondary-2-1;
      font-weight: bold;
    }
  }

  .add-album {
    float: right;
    height: 2em;
    line-height: 2em;
    width: 2em;
    border-radius: $base-border-radius;
    box-shadow: $sixth-box-shadow;
    color: $grey-2;
    text-align: center;
    margin-top: .5em;
    margin-right: 1em;
    cursor: pointer;
    transition: $second-transitions;

    &:hover {
      color: $primary-1;
    }
  }
}