.user-profile {
  width: 23.2317613%;
  margin-right: 2.35765%;
  float: left;
  background: $white;
  border-radius: 3px;
  padding: 2em;

  ul {
    margin-top: 2em;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.user-profile-content {
  width: 74.41059%;
  background: $white;
  float: left;
  border-radius: 3px;
  padding: 2em;
}

.avatar {
  img {
    vertical-align: middle;
  }
}

.avatar-inner {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
}

.user-profile-username {
  margin-top: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  p {
    margin: 0;
  }
}

.friend-requests {
  background: $grey-3;
  padding: 0 .5em;
  border-radius: 3px;
  cursor: pointer;
  transition: $second-transitions;
}

.friend-requests:hover {
  background: $grey-8;
}

a.friend-requests:hover {
  color: inherit;
}

.friend-request-button, .friend-button {
  height: 2em;
  width: 2em;
  margin: .5em 0;
  border-radius: 3px;
  background: $dark-gray-bottom;
  transition: $second-transitions;

  &:hover {
    background: $gray-0;
  }
}

.friend-request-button {
  cursor: pointer;
}

.request-list-element {
  display: none;
  padding: 0 1em;
  background: $grey-4;
  border-radius: 3px;
  line-height: 3em;
}

.users-element-request:nth-last-child(2) {
  margin-bottom: 0;
}