.user-main {
  > h3 {
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-weight: normal;
    color: $secondary-2-1;
    height: 3rem;
    line-height: 3rem;

    a {
      font-weight: bold;
    }
  }

  .header-form {
    margin-top: 3rem;
  }

  hr {
    border-bottom: $third-border-bottom;
    margin: 0 0 2em 0;
  }
}

.user-main-block {
  border-radius: $base-border-radius;
  float: left;
  width: 21.3733%;
  padding: 2em 0;
  margin-right: 4.8356%;
  margin-top: 1em;
  cursor: pointer;
  position: relative;
  box-shadow: $sixth-box-shadow;


  &:hover {

    .new-message {
      opacity: 1;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .caption {
    font-size: 2em;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

.new-message {
  position: absolute;
  padding: .5em;
  left: 88%;
  top: -13%;
  background: $primary-1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: $white;
  box-shadow: $fifth-box-shadow;
  opacity: 0.6;
  cursor: pointer;
  transition: $second-transitions;
  font-size: .9em;


  &:hover {
    opacity: 1;
  }
}

.one-digit {
  margin-left: 3px;
}

.new-message-inner {
  margin-top: 2px;
}

.user-main-post {
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;
  padding: 0 1em;
  line-height: 3em;
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  .user-main-post-text {
    float: left;
    width: 80%;
  }

  .user-main-post-empty {
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: $white;
    background: $primary-1;
    margin-top: .5em;
    float: right;
    border-radius: $base-border-radius;
    padding: 0 2em;
  }

  .user-main-post-icons {
    float: right;
    width: 20%;
    display: block;

    .first-icon {
      margin-right: 1em;
      cursor: pointer;
      transition: $second-transitions;

      &:hover {
        color: $grey-0;
      }
    }

    .user-main-post-icons-block {
      float: left;
      color: $grey-2;
    }
  }
}

.user-main-comments {
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  hr {
    margin: 0;
  }

  .user-main-comments-text {
    padding: 1em;

    h1, h2, h3, h4, h5 {
      font-weight: normal;
      margin: 2rem 0 0;
    }

    p {
      margin: 1em 0 0;
    }

    img {
      vertical-align: middle;
    }

    ul {
      margin: 1em 0 0 2em;

      li {
        list-style-type: disc;
      }
    }

    a {
      color: $grey-0;
      font-weight: normal;
      display: inline-block;
      border-bottom: 1px dashed $grey-0;

      &:hover {
        border-bottom: 1px dashed $primary-1;
      }
    }

    blockquote {
      margin: 1em 0 0;
      padding-left: 1em;
      border-left: 3px solid $grey-3;
    }

    pre {
      border: $third-border;
      border-radius: 3px;
      padding: 1em;
      margin: 1em 0 0;
      overflow: auto;
      word-break: break-all;
      word-wrap: break-word;

      code {
        white-space: pre-wrap;
      }
    }
  }

  .user-main-comments-header {
    line-height: 3em;
    padding: 0 1em;

    a {
      &:hover {
        color: $grey-0;
      }
    }
  }
}