@media (max-width: 375px) {
  .user-profile {
    width: 100%;
    margin-right: initial;
    margin-bottom: 1em;
    padding: 5%;
    border-radius: 0;
  }

  .user-profile-content {
    width: 100%;
    border-radius: 0;
  }

  .profile-block {
    width: 100%;
  }

  .profile-block-content {
    padding: 5%;
    float: left;
    border-radius: 0;
  }

  .album-breadcrumbs {
    margin-bottom: 1em;
    padding: 5%;
    border-radius: 0;
  }

  .album-breadcrumbs-item {
    float: initial;
    margin-right: 0;
    font-size: 1rem;
    line-height: 2;
    display: block;
  }

  span.album-breadcrumbs-item {
    margin-left: 1em;
  }

  .users-element, .users-element-request {
    margin-bottom: 1em;
  }

  .users-element-link {
    float: left;
  }

  .message-header-name {
    margin-right: initial;
    width: 100%;
  }

  .message-body-header-time {
    width: 100%;
    font-size: .8rem;
    color: $gray-0;
  }

  .select-wrapper {
    float: left;
  }

  .text-editor-body {
    min-height: 15em;
    padding: 5%;
  }

  .text-editor-toolbar {
    padding: 0 5%;
  }

  .text-editor {
    min-height: initial;
  }

  .margin-bottom-2 {
    margin-bottom: 1em;
  }

  .select-item-sub {
    left: -12em;
    border: 1px solid $grey-8;
  }

  .image-select-item-sub {
    border: 1px solid $grey-8;
  }

  .album-block {
    width: 100%;
    float: left;
  }

  .create-album {
    margin: initial;
  }

  .album-wrapper {
    .album-caption {
      padding: 0 5%;
      border-radius: initial;
    }

    .album-cover {
      border-radius: initial;
    }
  }

  .create-album-form {
    padding: 5%;
    border-radius: 0;
  }

  .btn-post-height {
    line-height: 2em;
  }

  .button {
    padding: 0 5%;
    width: 100%;
    text-align: center;
  }

  .add-image {
    padding: 0 5%;
    margin-bottom: 1em;
    border-radius: 0;
  }

  .no-images {
    border-radius: 0;
  }

  .image-wrapper {
    margin-bottom: -1em;
  }

  .image-block {
    width: 100%;
    border-radius: 0;
    margin-bottom: 1em;

    img {
      border-radius: 0;
    }
  }

  .image-block-top-button {
    opacity: 1;
  }

  .image-block-footer {
    opacity: 1;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .user-profile {
    width: 100%;
    margin-right: initial;
    margin-bottom: 2em;
    border-radius: 0;
  }

  .user-profile-content {
    width: 100%;
    border-radius: 0;
  }

  .profile-block {
    width: 100%;
  }

  .album-breadcrumbs-item {
    font-size: 1rem;
  }

  .select-item-sub {
    left: -12em;
    border: 1px solid $grey-8;
  }

  .image-select-item-sub {
    border: 1px solid $grey-8;
  }

  .album-block {
    width: 100%;
    float: left;
  }

  .album-wrapper {
    .album-caption, .album-cover {
      border-radius: initial;
    }
  }

  .album-breadcrumbs {
    border-radius: 0;
  }

  .create-album-form {
    border-radius: 0;
  }

  .add-image, .no-images {
    border-radius: 0;
  }

  .image-block {
    width: 100%;
    border-radius: 0;

    img {
      border-radius: 0;
    }
  }

  .image-block-top-button {
    opacity: 1;
  }

  .image-block-footer {
    opacity: 1;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .user-profile {
    width: 35%;
  }

  .user-profile-content, .profile-block, .album-block {
    width: 62.64235%;
  }

  .album-breadcrumbs-item {
    font-size: 1em;
  }

  .main-row {
    .main-wrapper {
      padding: 2em;
    }
  }

  .select-item-sub {
    left: -12em;
    border: 1px solid $grey-8;
  }

  .image-select-item-sub {
    border: 1px solid $grey-8;
  }

  .image-block {
    width: 48%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .user-profile {
    width: 30%;
  }

  .user-profile-content, .profile-block, .album-block {
    width: 67.64235%;
  }

  .select-item-sub, .image-select-item-sub {
    border: 1px solid $grey-8;
  }
}