.carousel-row {
  @include row();
  background: $grey-4;

  .carousel-wrapper {

    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;

      &:hover {
        .tooltip {
          opacity: 1;
          box-shadow: $sixth-box-shadow;
          background: $white;
        }

        .tooltip-black {
          opacity: 1;
          background: $white;
        }
      }
    }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
    }

    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
  }
}

.tooltip, .tooltip-black {
  position: absolute;
  padding: 0 2em;
  top: 3em;
  height: 3em;
  line-height: 3em;
  border-radius: 0 3px 3px 0;
  background: $white;
  text-align: center;
  color: $grey-0;
  @include transition($second-transitions);
  opacity: 0;


  h2 {
    margin: 0;
    color: $grey-0;
  }
}