.navigation-row {
  @include  row();
  margin-top: -3em;

  .navigation-wrapper {
    @include outer-container();
    background: $secondary-2-1;
    border-radius: 3px 3px 0 0;
    position: relative;
    z-index: 1000;
  }
}

.navigation-row-post {
  @include  row();
  padding-top: 2em;
  background: $grey-4;

  .navigation-wrapper-post {
    @include outer-container();
    box-shadow: $base-box-shadow;
    position: relative;
    border-radius: 3px;
    background: $white;
  }
}

nav {
  @include span-columns(12);
  .first-level {
    height: 3em;

    > .menuItem {
      @include transition($second-transitions);
      float: left;
      height: 3em;
      width: 20%;
      text-align: center;
      line-height: 3em;
      cursor: pointer;
      border-left: 1px solid $secondary-2-1;
      border-right: 1px solid $secondary-2-1;

      &:first-child {
        border-radius: 3px 0 0 0;
      }

      &:last-child {
        margin-right: 0;
        border-radius: 0 3px 0 0;
      }

      a {
        color: $white;
        display: block;
        text-transform: uppercase;

        i {
          padding-left: em(4);
        }
      }

      &:hover {

        background: $primary-1;
        border-left: 1px solid $primary-1;
        border-right: 1px solid $primary-1;

        .caret {
          transform: rotate(0deg);
        }

        > a {
          color: $white;
        }

        ul {
          @include transition($second-transitions);
          position: absolute;
          border-radius: $base-border-radius;
          box-shadow: $tenth-box-shadow;
          z-index: 20;
          opacity: 1;

          li {
            @include transition($second-transitions);
            display: block;
            float: none;
            background: $grey-3;
            border-left: 3px solid $grey-3;
            border-right: 3px solid $grey-3;

            a {
              color: $grey-0;
            }

            &.active {
              background: $primary-1;

              a {
                color: $white;
              }
            }


            &:hover {
              border-left: 3px solid $primary-1;
              position: relative;
            }
          }
        }
      }
    }
    .active {
      color: $white;
      background: $primary-1;
      border-left: 1px solid $primary-1;
      border-right: 1px solid $primary-1;

      .hidden {
        a {
          color: $grey-0;
        }
      }

      a {
        color: $white;
      }
    }
  }
}

.small-nav {
  display: none;
}

.small-first-level {
  display: none;
}

.hidden  {
  padding: 0 1em;
  background: $white;
  opacity: 0;

  li {
    display: none;
    line-height: 2em;
    border-radius: $base-border-radius;
    width: 100%;
    margin: 1em 0;
    text-align: left;
    padding: 0 1em;
  }
}

.active + .menuItem:hover {
  border-left: 1px solid $white!important;
}

.menuItem:hover + .active {
  border-left: 1px solid $white;
}

.caret {
  height: 14px;
  fill: $white;
  transform: rotate(180deg);
  margin-bottom: -.1em;
  margin-left: .5em;
  transition: all .5s ease-in-out;
}

.delete-menu-svg {
  height: 1em;
  width: 1em;
  margin: .5em;
  fill: white;
}