.left-panel {
  float: left;
  background: $white;
  border-radius: 3px;
  padding: 2em;
}

.right-panel {
  width: 74.41059%;
  float: left;
  min-height: 30em;
}

.left-panel {
  width: 23.2317613%;
  margin-right: 2.35765%;

  ul {
    margin-top: 2em;
  }

  li {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      background: $primary-1;
      text-align: center;
      color: $white;
      border-radius: 3px;
      padding: 0 .5em;
    }
  }
}

.menu-header {
  text-transform: uppercase;
  margin-bottom: .5em;
  margin-top: 2em;
  font-weight: bold;
}

.comment-publish-button {
  width: 2em;
  height: 2em;
  margin: .5em 1em .5em 0;
  background: $dark-gray-bottom;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s ease-in-out;

  &:hover {
    background: $gray-0;
  }
}

.comment-publish-svg, .comment-unpublish-svg {
  height: 1em;
  width: 1em;
  margin: .5em;
  fill: $white;
}

.sub-panel-50 {
  width: 48.20813%;
}

.wrapper-panel {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}