@mixin button-style($bg, $color: white, $border: none) {
  background: $bg;
  color: $color;
  border: $border;
  border-radius: $base-border-radius;
  cursor: pointer;
  outline: none;
  padding: 0 2em;
  transition: all $transition-time;

  &:hover {
    opacity: 0.9;
  }
}

.button {
  @include button-style($primary-1);
}

.post-buttons,
.post-buttons-changed,
.suggest-buttons {
  @include button-style($white, $gray-3, 1px solid $gray-5);
  height: 3em;
  display: inline-block;

  p {
    margin: 0.5em 1em 0;
    color: $gray-3;
    float: left;
    height: 2em;
    line-height: 2em;
    transition: all $transition-time;
  }
}
