.comments-wrapper {
  background: $white;
  border-radius: 0 0 3px 3px;
  padding: 2em;
  margin-bottom: 2em;
  float: left;
  width: 100%;

  .comment-item {
    float: left;
    margin-bottom: 2em;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    .comment-header {
      float: left;
      line-height: 3em;
      width: 100%;
    }

    .body {
      float: left;
      width: 100%;
    }
  }
}
