.form-body {
  input {
    height: 3em;
    line-height: 3em;

    &[type="checkbox"] {
      float: left;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.375em;

  + label {
    display: inline-block;
  }
}

.submit-form {
  display: block;
  height: 3em;
  width: 100%;
}
