// === Reset & Base Styles ===

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: $gray-2;
  background: $gray-6;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $gray-2;
  transition: all .5s ease-in-out;

  &:hover {
    color: $primary-1;
  }

  &:focus {
    outline: none;
  }
}

article footer {
  background: initial;
}

img {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: none;
  padding: 0;
}

input,
label,
select {
  display: block;
  font-size: 1em;
}

input[type=text]:disabled {
  background: $gray-6;
}

button, 
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

input:not([type]),
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
select[multiple=multiple],
textarea {
  background-color: $white;
  border: 1px solid $gray-13;
  font-size: 1em;
  padding: .5em;
  width: 100%;
  border-radius: 3px;
}

input {
  line-height: normal;
}

input, textarea:focus {
  outline: none;
}

header, .sitetop, .hero, .navigation, .main, footer {
  float: left;
  width: 100%;
}

ol {
  font-size: 1.125em;
}
