// Typography
$base-font-family: 'Roboto';
// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;

// Other Sizes
$base-border-radius: 3px;

// My Colors
$primary-1: #EF4747;	// Main Primary color */ 0
$primary-light: #F08048;
$secondary-1-1: #EFD247;	// Main Secondary color (1) */ 90
$secondary-2-1: #573EA4;	// Main Secondary color (2) */ 271
$complement-1: #39BF39;	// Main Complement color */ 180

$primary-2: #EF9347;	// Main Primary color */ 30
$secondary-1-2: #EFEF47;	// Main Secondary color (1) */ 120
$secondary-2-2: #7A369F;	// Main Secondary color (2) */ 300
$complement-2: #2B8F8F;	// Main Complement color */ 210

$primary-3: #EFB747;	// Main Primary color */ 60
$secondary-1-3: #ABDF43;	// Main Secondary color (1) */ 150
$secondary-2-3: #BF3985;	// Main Secondary color (2) */ 330
$complement-3: #3C5AA0;	// Main Complement color */ 240

$white: #fff;
$gray-1: #232323;
$gray-2: #3a3a3a;
$gray-3: #545454;
$gray-4: #505050;
$gray-5: #ececec;
$gray-6: #f5f5f5;
$gray-7: #585858;
$gray-8: #e7e7e7;
$gray-9: #f1f1f1;
$gray-10: #dedede;
$gray-11: #8c8c8c;
$gray-12: #adadad;
$gray-13: #d4d4d4;
$post-name-color: #424242;
$post-category-link-color: #585858;
$light-gray-primary: #f9f9f9;
$light-gray-border: #cccccc;
$dark-gray-bottom: #c1c1c1;
$secondary-2-1-trans: rgba(87, 62, 164, .6);

$primary-box-shadow: 0 0 3px 0 $gray-5;
$left-box-shadow: inset 4px 0 0 $primary-1;

//Transitions
$base-transition: all .5s ease-in-out;

// Slider
$slider-width: 75em;
$slider-height: 25em;