.friends-box {
  box-shadow: $sixth-box-shadow;
  padding: 0 1em;
  border-radius: $base-border-radius;
  height: auto;
  line-height: 3em;
  margin-bottom: 2em;
  float: left;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &-link {
    float: left;
    margin-top: .5em;
    margin-right: 1em;

    .image-crop {
      width: 2em;
      height: 2em;
      line-height: 2em;
      overflow: hidden;
      border-radius: 50%;

      .image-mini {
        width: 2em;
        vertical-align: middle;
      }
    }
  }

  &-button {
    border-radius: $base-border-radius;
    color: $grey-2;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
    transition: $second-transitions;
    box-shadow: $sixth-box-shadow;

    &:hover {
      color: $primary-1;
    }
  }

  .link {
    float: left;
    color: $grey-2;
    width: 60%;

    &:hover {
      color: $grey-0;
    }
  }
  .link-right {
    float: right;
    margin-top: .5em;
  }

  .message-count {
    float: right;
    margin-right: 1em;
    border-radius: $base-border-radius;
    background: $primary-1;
    color: $white;
    height: 2em;
    line-height: 2em;
    margin-top: .5em;
    padding: 0 .5em;
  }
}