.footer-row {
  @include row();
  background: $grey-7;
  color: $grey-0;

  .footer-wrapper {
    @include outer-container();

    h3 {
      font-weight: normal;
      color: $grey-0;
      margin: 0 0 1rem;
    }

    a {
      color: $grey-2;

      &:hover {
        color: $grey-0;
      }
    }
    .first-column {
      @include span-columns(3);
      padding: 2em 0;
    }

    .second-column {
      float: left;
      display: block;
      width: 23.23176%;
      margin-right: 2.35765%;
      padding: 2em 0;
    }

    .third-column {
      @include span-columns(3);
      padding: 2em 0;
    }

    .fourth-column {
      @include span-columns(3);
      @include omega();
      padding: 2em 0;
    }

    ul {

      li {
        margin-bottom: 0.5em;
      }

      .second-level {
        margin-left: 1em;
      }
    }

    .copyright {
      @include span-columns(12);
      color: $grey-2;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      p {
        margin-top: 0.75em;
        float: left;
        line-height: 2em;
      }
    }
  }
}

.outer-container {
  @include transition($second-transitions);
  background: $white;
  border-radius: $base-border-radius;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
  width: 70%;


  &:hover {
    background: $primary-1;

    .first-inner-container {
      background: $primary-1;
    }

    #vk-btn, #facebook-btn, #twitter-btn, #google-btn {
      fill: $white;
    }

    .second-inner-container {
      color: $white;
    }
  }
}

.first-inner-container {
  @include transition($second-transitions);
  float: left;
  width: 2em;
  height: 2em;
  margin: .5em;
  background: $white;
  border-radius: 3px;

}

.second-inner-container {
  @include transition($second-transitions);
  color: $grey-0;
  float: left;
  margin-left: 1.5em;
}

.back-to-top {
  height: 3em;
  line-height: 3em;
  width: 3em;
  border-radius: 50%;
  color: $white;
  background: $primary-1;
  text-align: center;
  position: fixed;
  right: 1em;
  bottom: 1em;
  transition: $second-transitions;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

#vk-btn, #facebook-btn, #twitter-btn, #google-btn {
  fill: $primary-1;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

#copyright {
  fill: $primary-1;
  float: left;
  height: 1em;
  margin-right: .5em;
  margin-top: 1.25em;
}