.comments-main {
  margin-top: 2em;
  box-shadow: $sixth-box-shadow;
  border-radius: $base-border-radius;
  overflow: hidden;
}

.comments-header {
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  border-bottom: $third-border-bottom;

  h4 {
    display: inline;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    color: $grey-0;
  }
}

.comments-body-footer {
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
}

.comments-body {
  padding: 1em 2em;

  > :first-child {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5 {
    margin: 1em 0 0;
    font-weight: normal;
  }

  p {
    margin: 1em 0 0;
    display: block;
  }

  ul {
    margin: 1em 0 0 2em;

    li {
      list-style-type: disc;
    }
  }

  img {
    vertical-align: bottom;
  }

  a {
    color: $primary-1;
  }

  blockquote {
    margin: 1em 0 0;
    padding-left: 1em;
    border-left: 3px solid $grey-3;
  }

  pre {
    border-radius: $base-border-radius;
    padding: 1em;
    box-shadow: $base-box-shadow;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;

    code {
      white-space: pre-wrap;
    }
  }
}
