.nav-side {
  @include span-columns(4);

  .nav-side-body {
    padding: 2em;
    box-shadow: $base-box-shadow;
    background: $white;
    border-radius: $base-border-radius;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        &:first-child {
          margin-right: .5em;
        }

        &:hover {
          color: $primary-1;

          h3 {
            color: $primary-1;
          }
        }
      }
    }

    h2 {
      margin: 0;
      display: inline;
      font-weight: normal;
      height: 3rem;
      line-height: 3rem;
    }

    hr {
      border-bottom: $third-border-bottom;
      margin: 0 0 2em 0;
    }
  }
}