.main-side {
  @include span-columns(8);
}

.main-side-body {
  @include animation(fadeIn .5s ease-in);
  padding: 2em;
  box-shadow: $base-box-shadow;
  background: white;
  border-radius: $base-border-radius;

  hr {
    border-bottom: $third-border-bottom;
    margin: 0 0 2em 0;
  }
}

.main-side-header {

  clear: both;
  height: 3em;
  line-height: 3em;

  h2 {
    margin: 0;
    font-weight: normal;
    height: 3rem;
    line-height: 3rem;
  }

  .btn-right {
    margin-right: 1em;
  }
}

.main-side-header-empty {
  clear: both;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;

  p {
    margin: 0;
  }
}

.main-side-column {
  width: 30.738365%;
  float: left;
  text-align: center;
  margin-bottom: 2em;
  margin-right: 3.892452%;
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;

  &:last-child {
    margin-right: 0;
  }

  a {
    padding: 2em 0;
    display: block;
  }

  .h1 {
    color: $primary-1;
    font-size: 2em;
    font-weight: bold;
  }

  .h3 {
    font-size: 2em;
    color: $grey-0;
  }

  p {
    margin-bottom: 0;
    color: $grey-0;
  }
}

.body-content-date {
  float: left;
}

.main-side-list {

  p {
    display: inline;
  }

  .main-side-list-item, .main-side-list-item-long, .main-side-list-item-padding {
    @include transition($second-transitions);
    border-radius: $base-border-radius;
    margin-bottom: 2em;
    padding: 0 1em;
    box-shadow: $sixth-box-shadow;

    &:last-child {
      margin-bottom: 0;
    }

    .link-lists {
      color: $grey-0;
      float: left;
      width: 80%;
    }

    .body-content {
      float: left;
      line-height: 3em;
      width: 90%;
    }


  }

  .main-side-list-item, .main-side-list-item-padding {
    .body-content-text {
      height: 3em;
      line-height: 3em;
    }
  }

  .main-side-list-item-long {
    .body-content-text {
      line-height: 3em;
    }
  }

  .main-side-list-item-padding {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .main-side-list-item {
    line-height: 3em;
    width: 100%;
    display: inline-block;
  }
}

.users-main {
  box-shadow: $sixth-box-shadow;
  border-radius: $base-border-radius;
  overflow: hidden;
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  .users-header {
    padding: 0 2em;
    height: 3em;
    line-height: 3em;
    border-bottom: $third-border-bottom;

    h3 {
      margin: 0;
      float: left;
    }
  }

  .users-body {
    padding: 2em;

    p {
      margin-bottom: 1em;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include keyframes(fadeIn) {
  from {opacity: 0;}
  to {opacity: 1;}
}
