.user-info {
  width: 50%;
  padding: 2em;
  margin: 0 auto;
  border: $fourth-border;
  border-radius: 3px;
}

.user-info-avatar-block {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 2em;
}

.user-info-avatar-image {
  vertical-align: middle;
  border-radius: 50%;
}

.user-info-username {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.user-info-email, .user-info-date-verified {
  margin-top: 1em;

  span {
    font-weight: bold;
  }
}

.info-button {
  line-height: 3em;
  margin-top: 2em;
  display: inline-block;
}

.confirm-button {
  line-height: 3em;
  display: inline-block;
}