.leaderboard {
  @include animation(fadeIn 1s ease-in);
  border-radius: $base-border-radius;
  padding: 2em;
  background: $white;

  img {
    width: 100%;
    border-radius: 3px;
    vertical-align: middle;
  }

  a {
    display: block;
  }
}

.advertisement {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.leaderboard-text {
  margin: 0 0 1rem 0;
  font-weight: normal;
  color: $grey-5;
  font-size: 1.25em;

  &:last-child {
    margin-bottom: 0;
  }
}