.all-posts {
  background: $white;
  height: 3em;
  line-height: 3em;
  margin-bottom: 2em;
  padding: 0 2em;
  border-radius: 3px;
}

.all-posts-item {
  float: left;
  margin-right: 1em;
}

span.all-posts-item {
  width: 1em;
  text-align: center;
}