.at-form {
  @include span-columns(4);
  @include shift(4);
  background: $base-background-color;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: $base-border-radius;  

  .at-title {
    text-align: center;
    height: 3em;
    line-height: 3em;

    h2 {
      margin: 0;
      font-weight: normal;
      text-transform: uppercase;
    }

  }

  hr {
    border-bottom: $third-border-bottom;
    margin: 0;
  }

  .at-oauth {
    margin-bottom: 2em;

    .at-social-btn {
      width: 100%;
      margin-bottom: 1em;
      box-shadow: $sixth-box-shadow;
      border: 0;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .at-pwd-form {
    margin-bottom: 2em;
    margin-top: 1em;

    p {
      margin: 0;
    }

    .at-input {
      label {
        height: 3em;
        line-height: 3em;
        font-weight: normal;
        color: $grey-0;
        margin-bottom: 0;
      }

      input {
        height: 3em;
        line-height: 3em;
      }
    }

    .at-pwd-link {
      height: 3em;
      line-height: 3em;
    }

    .at-btn {
      border: 0;      
      background: $primary-1;
      color: $white;
      width: 100%;
      border-radius: $base-border-radius;
      padding: 0 2em;
      height: 3em;
      line-height: 3em;
      font-size: 1em;
    }
  }

  .at-signup-link {
    p {
      margin: 0;
    }

    a {
      float: right;
    }
  }
}

.at-social-btn {
  @include transition($second-transitions);
  background: $white;
  border-radius: $base-border-radius;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: $primary-1;

    .left-block {
      background: $white;

      i {
        color: $primary-1;
      }
    }

    .right-block {
      color: $white;
    }
  }
}

.left-block {
  @include transition($second-transitions);
  float: left;
  width: 2em;
  height: 2em;
  margin: .5em;
  background: $primary-1;
  border-radius: 3px;


  i {
    @include transition($second-transitions);
    height: 2em;
    color: $white;
    line-height: 2em;
    width: 2em;
    float: left;
    text-align: center;
  }
}

.right-block {
  @include transition($second-transitions);
  color: $grey-0;
  float: left;
  margin-left: 1.5em;
}

#at-btn {
  margin-top: 2em;
}

.at-link {
  color: $primary-1;
  text-decoration: underline;
}

.at-input {
  span {
    height: 3em;
    line-height: 3em;
  }

  .fa-times, .fa-check {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: $white;
    margin-top: .5em;
    margin-right: 1em;
    border-radius: $base-border-radius;
  }

  .fa-times {
    background: $primary-1;
  }

  .fa-check {
    background: $complement-1;
  }
}