.button {
  background: $primary-1;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  outline: none;
  padding: 0 2em;
}

.btn-post-height {
  line-height: 3em;
  margin-top: 2em;
  display: inline-block;
}