.comments-wrapper {
  background: $white;
  border-radius: 0 0 3px 3px;
  padding: 2em;
  margin-bottom: 2em;

  .comment-item {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      line-height: 3em;
      width: 100%;
      display: inline-block;

      .header-item {
        float: left;
      }

      .user-avatar {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        float: left;
        margin: .5em 1em .5em 0;
      }
    }

    .body {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .level-1 {
    margin-left: 2em;
  }

  .level-2 {
    margin-left: 4em;
  }

  .level-3 {
    margin-left: 6em;
  }
}

.caption-block {
  border-radius: 3px 3px 0 0;
  line-height: 3em;
  background: $white;
  border-bottom: 1px solid $grey-3;
  padding: 0 2em;

  .caption-block-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: normal;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.add-comment-wrapper {
  background: $white;
  padding: 2em;
  border-radius: 0 0 3px 3px;
  display: inline-block;
}

.reply-button {
  margin-right: 1em;
  padding: 0 1em;
  height: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
  line-height: 2em;
  transition: $second-transitions;
  border-radius: 3px;
  cursor: pointer;
  background: $grey-3;

  &:hover {
    background: $grey-8;
  }
}

.no-unpublished-comments {
  background: $white;
  padding: 2em;
  border-radius: 3px;

  h3 {
    font-weight: normal;
    margin: 0;
  }
}

.comment-footer {
  p {
    margin: 0;
  }
}