.users-element, .users-element-request {
  float: left;
  padding: 0 1em;
  background: $grey-4;
  margin-bottom: 2em;
  border-radius: 3px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .profile-link {
    float: left;
    display: block;
    width: 2em;
    margin: .5em 0;

    .avatar-image {
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  .profile-name {
    margin: .75em 1em;
    float: left;
  }

  .request-friend {
    height: 2em;
    margin: .5em 0;
    width: 2em;
    background: $dark-gray-bottom;
    border-radius: 3px;
    cursor: pointer;
    transition: $second-transitions;

    &:hover {
      background: $gray-0;
    }
  }

  button {
    background: $primary-1;
    border: none;
    border-radius: 3px;
    padding: 0;
    height: 2em;
    cursor: pointer;
    outline: none;
  }
}

.request-list {
  float: left;
  width: 100%;
}

.plus-friend-svg {
  width: 1em;
  fill: $white;
  margin: .5em;
}

.waiting, .confirmed {
  height: 2em;
  margin: .5em 0;
  background: $dark-gray-bottom;
  width: 2em;
  border-radius: 3px;
}

.waiting {
  .hourglass-friend-svg {
    fill: $white;
    height: 1em;
    margin: .5em;
  }
}

.confirmed {
  .checked-friend-svg {
    fill: $white;
    height: 1em;
    margin: .5em;
  }
}

.users-element-link {
  display: inline-block;
  width: 100%;
  float: left;

  &:hover {
    color: $grey-0;
  }
}

.margin-bottom-2 {
  margin-bottom: 2em;
}