.exception-wrapper {
  background: $white;
  border-radius: 3px;
  padding: 2em;
}

.exception-danger {
  background: $primary-1;
  padding: 0 2em;
  border-radius: 3px;
  width: 100%;
  color: $white;
  line-height: 3em;

  h2 {
    font-weight: normal;
    margin: 0;
  }
}
