.exception-wrapper {
  background-image: url(https://driveitwith.me/storage/Bzdykin/default/repair-of-car-dents.jpg);
  border-radius: 0 0 3px 3px;
  padding: 2em;
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: cover;
  height: 799.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exception-danger {
  background: $primary-1;
  padding: 0 2em;
  border-radius: 3px;
  width: 100%;
  color: $white;
  line-height: 3em;

  h2 {
    font-weight: normal;
    margin: 0;
    text-align: center;
  }
}

.big-caption {
  font-size: 10em;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 0 $grey-1;
}

.big-caption-404 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: 2rem;
  background: $white;
  border-radius: 3px;
  opacity: .8;
}

.small-caption {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.navigation-wrapper-404 {
  margin-top: 3em;
}
