.main-row {
  @include row();
  background: $grey-4;

  .main-wrapper {
    @include outer-container();
    padding: 2em 0;
    z-index: 900;
    position: relative;
    min-height: 50em;
  }
}

main {
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
}

aside {
  @include span-columns(3);
}

.empty-container {
  float: left;
  width: 33%;
  margin-left: 33%;
}