.main-content-wrapper {
  background: $white;
  padding: 2em;
  border-radius: 3px;
  margin-bottom: 2em;

  h2 {
    margin: 0 0 1em;
  }
}

.post-block {
  min-height: 3em;
  margin-bottom: 1em;
  background: $grey-4;
  padding: 0 2em;
  border-radius: 3px;
  line-height: 3em;
  position: relative;
  transition: $second-transitions;

  &:hover {
    background: $grey-3;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .post-block-link {
    float: left;
    width: 80%;
  }
}

.publish, .edit-post {
  display: inline-block;
  line-height: 2em;
  width: 2em;
  margin: .5em 0;
  border-radius: 3px;
  background: $dark-gray-bottom;
  transition: $second-transitions;
  cursor: pointer;

  &:hover {
    background: $gray-0;
  }
}

.edit-post {
  margin-right: 1em;
}

.unpublish-svg, .publish-svg, .edit-svg {
  height: 1em;
  width: 1em;
  margin: .5em;
  float: right;
  fill: white;
}