.markdown {

  text-align: left;

  h1, h2, h3, h4, h5 {
    margin: 1em 0 0;
  }

  p {
    margin: 1em 0 0;

    &:first-child {
      margin: 0;
    }
  }

  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 3em;

    li {
      margin-bottom: 1em;
    }
  }

  ul {
    margin: 1em 0 0 2em;

    li {
      list-style-type: disc;
    }
  }

  a {
    color: $primary-1;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    margin: 1em 0 0;
    padding-left: 1em;
    border-left: 3px solid $grey-3;
  }

  pre {
    border: $base-border;
    border-radius: 3px;
    padding: .5em 1em;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;

    code {
      white-space: pre-wrap;
    }
  }
}