.left {
  float: left;
}

.right {
  float: right;
}

.img-margin-bottom {
  margin-bottom: 1em;
}

.btn {
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background: $primary-1;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  vertical-align: middle;
  white-space: nowrap;
  color: $white;
  @include transition($second-transitions);

  &:hover {
    color: $white;
  }

  &:focus {
    outline: none;
  }

  i {
    padding-left: 0.5em;
  }
}

.denied {
  text-align: center;
  margin: 3em 0;
  display: block;

  h1 {
    margin: 0;
    font-size: 10em;
    line-height: 1;
  }

  h2 {
    margin: 0;
    font-size: 4.5em;
    line-height: 1;
  }

  .btn {
    margin-top: 3em;
  }
}

.add-more-posts {
  background: $primary-1;
  height: 3em;
  line-height: 3em;
  border-radius: $base-border-radius;
  text-align: center;
}

.add-more-posts-link {
  display: block;
  color: $white;

  &:hover {
    color: $white;
  }
}

.small-size {
  display: none;
}

.read-more {
  display: inline-block;
  width: 100%;

  h2 {
    margin: 0 0 2rem;
    font-weight: normal;
  }

  .one-block {
    width: 31.76157%;
    margin-right: 2.35765%;
    float: left;
    box-shadow: $sixth-box-shadow;
    position: relative;

    a {
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }

    .one-block-footer-icons {
      display: inline-block;
      position: absolute;
      bottom: 1em;
      left: 1em;
      right: 1em;

      .allowed {
        cursor: pointer;
      }
    }
  }

  .one-block-footer {
    padding: 1em;
    margin-bottom: 3.5em;
    display: inline-block;
  }
}

.block-icons-normal {
  float: right;
  height: 3em;
  line-height: 3em;
}

#vk_like {
  display: inline-block;
}

#fb-share {
  float: left;
  padding: 0 .5em;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  background: #4267b2;
  color: white;
  border-radius: 3px;

  i {
    margin-right: .5em;
  }
}

.one-block-wrapper {
  float: left;
  display: flex;
}

.social-wrapper {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-top: 1em;

  &-vk {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-fb {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-g {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-twitter {
    float: left;
    height: 30px;
    line-height: 30px;
  }
}

.full-size {
  float: right;
  height: 3em;
  line-height: 3em;
}

.author-icon {
  color: $grey-2;
  float: left;
  margin-right: 1em;
  height: 2em;
  line-height: 2em;
  width: 1em;
}

.full-width {
  width: 100%;

  header {
    display: block;
    position: relative;
    float: left;
    margin-bottom: 1em;

    h1 {
      color: $secondary-2-1;
      font-weight: normal;
      margin: 0 0 1rem;
    }
  }
}

.with-margin-bottom {
  margin-bottom: 2em;
}

.section-wrapper {
  float: left;
  width: 100%;
}

.post {
  background: $white;
  border-radius: 3px;
  padding: 2em;
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  header {
    height: 3em;
    line-height: 3em;
    margin-bottom: 1em;

    .user-avatar-link {
      float: left;
      margin-top: .5em;
    }

    .user-avatar {
      height: 2em;
      width: 2em;
      border-radius: 50%;
      float: left;
    }

    .post-author {
      height: 2em;
      line-height: 2em;
      margin: .5em 1em;
      font-weight: bold;
      float: left;
    }
  }

  .post-header {
    border-radius: 3px;
    position: absolute;
    padding: 2em;
    width: 100%;
    top: 0;
  }

  .post-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .post-image, .post-image-show {
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
  }

  .post-header-inner, .post-header-inner-show {
    background: $secondary-2-1-trans;
    padding: 1em;
    border-radius: 3px;
  }

  .post-name-link {
    float: left;
    width: 100%;
    margin-bottom: .5em;

    &:hover {
      color: $grey-0;
    }

    &:active {
      color: $grey-0;
    }
  }

  .post-name {
    margin: 0 0 .5em;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5;
    color: $white;
  }

  .post-categories {
    display: inline-block;
    width: 100%;

    ul {
      float: left;
    }

    li {
      float: left;
      margin-right: 1em;
      border-radius: 3px;
      transition: all .5s ease-in-out;

      &:hover {
        background: $primary-1;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .category-link {
      color: $white;
      padding: 0 .5em;

      &:hover {
        color: $white;
      }
    }

    .tags-svg {
      width: 1em;
      fill: $white;
      float: left;
      margin-top: 4px;
      margin-right: 1em;
    }
  }
}

.post-read-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -6em;
  position: relative;

  .post-read-more {
    height: 3em;
    padding: 0 2em;
    background: $primary-1;
    display: inline-block;
    line-height: 3em;
    color: $white;
    border-radius: 3px 3px 0 0;
  }

  .arrow-svg {
    float: right;
    width: 1em;
    margin-top: 1em;
    margin-left: 1em;
    fill: $white;
  }
}

.post-buttons-wrapper {
  display: flex;
  justify-content: center;
  position: relative;

  .post-buttons, .post-buttons-changed {
    height: 3em;
    background: $secondary-2-1;
    display: inline-block;
    padding: 0 2em;
    border-radius: 3px 3px 0 0;

    p {
      margin: .5em 1em 0;
      color: $white;
      float: left;
      height: 2em;
      line-height: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .post-buttons-changed {
    margin-top: -3em;
  }

  .eye-svg, .star-svg, .comments-svg {
    fill: $white;
    width: 1.5em;
    margin-top: 12px;
    float: left;
  }
}

.post-content {
  margin-top: 2em;

  p:last-child {
    margin-bottom: 0;
  }
}

.social-likes {
  margin-top: 2em;
}