.left {
  float: left;
}

.right {
  float: right;
}


.onepost {
  @include animation(fadeIn 1s ease-in);
  border-radius: $base-border-radius;
  width: 48%;

  .display-tag-name {
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
  }

  h2 {
    margin-top: 0;
  }

  .body-content {
    margin-top: -5em;
  }

  .body-content-normal {
    float: left;
  }

  .body-content, .body-content-normal {
    margin-bottom: 2em;    

    ul {
      list-style-type: disc;
      margin: 1em 0;
      padding-left: 3em;

      li {
        margin-bottom: .5em;
      }
    }

    ol {
      list-style-type: decimal;
      margin: 1em 0;
      padding-left: 3em;

      li {
        margin-bottom: 1em;
      }
    }

    a {
      color: $secondary-2-1;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 2rem 0 1rem;
    }

    .post-name {
      margin: 1rem 0 0;
      font-weight: normal;
      height: 7rem;
      overflow: hidden;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }

  .buttonWrapper {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }

  hr {
    border-bottom: $third-border-bottom;
    margin: 0 0 1em 0;
  }

  header {
    display: flex;
    justify-content: center;



    .bottom-header {

      float: left;
      width: 100%;


      .username-link {
        float: right;
        color: $grey-2;

        &:hover {
          color: $grey-0;
        }
      }

      ul {
        float: left;
        height: 3em;
        line-height: 3em;

        li {
          float: left;
          margin-right: 1em;
          color: $grey-2;

          &:first-child {
            width: 1em;
          }
        }

        a {
          color: $grey-2;

          &:hover {
            color: $grey-0;
          }
        }
      }

      p {
        color: $grey-0;
        margin: 0;
      }
    }
  }

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    vertical-align: middle;
    border-radius: $base-border-radius;
  }

  .post-link {
    display: block;
    margin-bottom: 1em;
  }

  footer {
    display: inline-block;
    width: 100%;

    .left {
      height: 3em;
      line-height: 3em;
    }

    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 3em;
      line-height: 3em;

      li {
        float: left;
        margin-right: .5em;
        color: $grey-2;

        a {
          color: $grey-2;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .date-published {
      height: 3em;
      line-height: 3em;
      display: flex;
      justify-content: center;

      time {
        margin-left: .5em;
      }
    }

    #share {
      margin-bottom: 2em;
    }

    p {
      margin-bottom: 0;
      color: $grey-2;
    }

    .disabled {
      cursor: not-allowed;
    }

    .allowed {
      cursor: pointer;

      .fa-eye, .fa-star {
        @include transition($second-transitions);
      }

      &:hover {
        .fa {
          color: $primary-1;
        }
      }
    }
    .info {
      float: right;
      padding: 0 1em;
      color: $grey-2;

      .fa-eye,
      .fa-star,
      .fa-comments {
        margin-right: .3em;
      }
    }
  }
}
.img-margin-bottom {
  margin-bottom: 1em;
}

.avatar-image {
  float: left;
  width: 8em;
  height: 8em;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-image-small {
  float: left;
  width: 2em;
  height: 2em;
  overflow: hidden;
  border-radius: 50%;
  margin-top: .5em;
  margin-right: 1em;
}

.btn {
  border-radius: $base-border-radius;
  box-shadow: $sixth-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background: $primary-1;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  vertical-align: middle;
  white-space: nowrap;
  color: $white;
  @include transition($second-transitions);

  &:hover {
    color: $white;
  }

  &:focus {
    outline: none;
  }

  i {
    padding-left: 0.5em;
  }
}

.btn-circle {
  border-radius: 1.5em;
  box-shadow: $sixth-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background: $primary-1;
  height: 3em;
  line-height: 3em;
  width: 3em;
  vertical-align: middle;
  white-space: nowrap;
  color: $white;
  text-align: center;
  @include transition($second-transitions);

  &:hover {
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.denied {
  text-align: center;
  margin: 3em 0;
  display: block;

  h1 {
    margin: 0;
    font-size: 10em;
    line-height: 1;
  }

  h2 {
    margin: 0;
    font-size: 4.5em;
    line-height: 1;
  }

  .btn {
    margin-top: 3em;
  }
}

.add-more-posts {
  background: $primary-1;
  height: 3em;
  line-height: 3em;
  border-radius: $base-border-radius;
  text-align: center;
}

.add-more-posts-link {
  display: block;
  color: $white;

  &:hover {
    color: $white;
  }
}

.small-size {
  display: none;
}

.read-more {
  display: inline-block;
  width: 100%;

  h2 {
    margin: 0 0 2rem;
    font-weight: normal;
  }

  .one-block {
    width: 31.76157%;
    margin-right: 2.35765%;
    float: left;
    box-shadow: $sixth-box-shadow;
    position: relative;

    a {
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }

    .one-block-footer-icons {
      display: inline-block;
      position: absolute;
      bottom: 1em;
      left: 1em;
      right: 1em;

      .allowed {
        cursor: pointer;
      }

      .info {
        float: right;
        width: 33%;
        text-align: center;

        &:hover {
          .fa-star {
            color: $primary-1;
          }
        }

        .fa-star {
          @include transition($second-transitions);
        }

        i {
          margin-right: .5em;
        }
      }
    }
  }

  .one-block-footer {
    padding: 1em;
    margin-bottom: 3.5em;
    display: inline-block;
  }
}

.block-icons {
  height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: center;
}

.block-icons-normal {
  float: right;
  height: 3em;
  line-height: 3em;
}

#vk_like {
  display: inline-block;
}

#fb-share {
  float: left;
  padding: 0 .5em;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  background: #4267b2;
  color: white;
  border-radius: 3px;

  i {
    margin-right: .5em;
  }
}

.one-block-wrapper {
  float: left;
  display: flex;
}

.social-wrapper {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-top: 1em;

  &-vk {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-fb {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-g {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
  }

  &-twitter {
    float: left;
    height: 30px;
    line-height: 30px;
  }
}

.full-size {
  float: right;
  height: 3em;
  line-height: 3em;
}

.author-icon {
  color: $grey-2;
  float: left;
  margin-right: 1em;
  height: 2em;
  line-height: 2em;
  width: 1em;
}

.slim-top-padding {
  padding: 1em 2em 2em;
}

.avatar-wrapper {
  background: $white;
  z-index: 10;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;

  header {
    display: block;
    position: relative;
    float: left;
    margin-bottom: 1em;

    h1 {
      color: $secondary-2-1;
      font-weight: normal;
      margin: 0 0 1rem;
    }
  }
}

.with-margin-bottom {
  margin-bottom: 2em;
}

.section-wrapper {
  float: left;
  width: 100%;
}