.post-create-wrapper {
  background: $white;
  border-radius: 3px;
  padding: 2em;
}

.block-wrapper {
  height: 3em;
  margin-bottom: 1em;
}

.post-create-heading {
  margin: 0 0 1em;
  font-weight: normal;
}

.post-create-subheading {
  margin: 0;
  font-weight: normal;
  line-height: 3rem;
  float: left;
}

#post_upload_image {
  display: none;
}

.post_upload_image_button {
  display: inline-block;
  cursor: pointer;
  height: 3em;
  width: 3em;
  margin-left: 1em;
  line-height: 3em;
  background: $grey-4;
  border-radius: 3px;
  transition: $second-transitions;

  &:hover {
    background: $grey-8;
  }
}

.uploaded-image {
  vertical-align: middle;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 3px;
}

.hidden-element {
  display: none;
}

.text-editor {
  border-radius: 3px;
  box-shadow: $light-box-shadow;
  min-height: 20em;
  display: inline-block;
  width: 100%;
}

.text-editor-toolbar {
  line-height: 3em;
  float: left;
  width: 100%;
  background: $grey-4;
}

.select-heading {
  float: left;
  border-radius: 3px 0 0 0;
  background: $grey-4;
  cursor: pointer;
  min-width: 10em;
  text-align: center;
  position: relative;
}

.select-heading-sub {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;

  div {
    line-height: 2em;
    padding: 0;
    background: $grey-3;
    border-bottom: $dark-border-bottom;
    transition: $second-transitions;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $grey-8;
    }
  }
}

.select-heading-input {
  transition: $second-transitions;
}

.select-heading .select-heading-input {
  padding: 0 2em;
  transition: $second-transitions;
  border-right: $dark-border-bottom;

  &:hover {
    background: $grey-8;
  }
}

.select-wrapper:hover .select-heading-input {
  background: $grey-8;
}

.caret-down {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: $second-transitions;
  transform: rotate(180deg);
}

#caret-post {
  fill: $dark-gray-bottom;
  width: 1em;
  height: 1em;
  float: right;
}

.select-heading:hover .caret-down {
  transform: rotate(0deg);
}

.select-heading:hover #caret-post {
  fill: $grey-0;
}

.select-item {
  width: 3em;
  float: left;
  transition: $second-transitions;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $grey-8;
  }
}

#bold-text, #italic-text, #ordered-list, #unordered-list, #link-text, #broken-link, #landscape, #quotes, #indent, #outdent, #undo, #redo {
  height: 1em;
  width: 1em;
  margin: 1em;
  float: left;
  fill: $grey-0;
}

#choose-landscape {
  float: left;
  height: 2em;
  margin: .5em;
  fill: $grey-0;
}

#redo {
  transform: rotateY(-180deg);
}

.text-editor-body {
  float: left;
  width: 100%;
  position: relative;
  min-height: 17em;
  padding: 2em;

  &:focus {
    outline: none;
  }
}

.select-item-sub, .image-select-item-sub {
  position: absolute;
  top: 3em;
  width: 15em;
  background: $grey-3;
  cursor: default;
  padding: 1em;
  transition: $second-transitions;
  z-index: 10;
  display: none;

  &:hover {
    background: $grey-8;
  }

  p {
    margin: 0;
  }
}

.select-item-sub, .image-select-item-sub {
  label {
    height: 1em;
    line-height: 1em;
    color: $grey-9;
    margin-bottom: .5em;
  }
}

.select-item-sub, .image-select-item-sub {
  input {
    float: left;
    height: 2em;
  }
}

#checked-item, #delete {
  fill: $grey-0;
  width: 1em;
  height: 1em;
  margin: .5em;
  float: left;
}

.select-item-sub-button {
  background: $dark-gray-bottom;
  border-radius: 3px;
  margin-left: .5em;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-top: 1em;
  float: right;

  &:hover {
    background: $gray-0;
  }

  &:last-child {
    margin-left: 0;
  }
}

#body_post_upload_image {
  display: none;
}

blockquote {
  &:after, &:before {
    content: '"'
  }
}

.text-editor-body {
  h2 {
    margin: 0 0 1em;
  }

  h3 {
    margin: 0 0 .75em;
  }

  p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin: 1em 0;
  }

  ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 1em 0;
  }

  img {
    vertical-align: middle;
    border-radius: 3px;
  }
}

.select-category {
  border: 1px solid $gray-1;
  border-radius: 3px;
  padding: .5em;
  width: 100%;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}