.post-create-wrapper {
  background: $white;
  border-radius: 3px;
  padding: 2em;
}

.block-wrapper {
  height: 3em;
  margin-bottom: 1em;
}

.post-create-heading {
  margin: 0 0 1em;
  font-weight: normal;
}

.post-create-subheading {
  margin: 0;
  font-weight: normal;
  line-height: 3rem;
  float: left;
}

#post_upload_image, #body_post_upload_image {
  display: none;
}

.post_upload_image_button {
  display: inline-block;
  cursor: pointer;
  height: 3em;
  width: 3em;
  margin-left: 1em;
  line-height: 3em;
  background: $grey-3;
  transition: $second-transitions;
  border-radius: 50%;

  &:hover {
    background: $grey-8;
  }
}

.choose-image-svg {
  width: 2em;
  height: 2em;
  margin: .5em;
  fill: $grey-0;
}

.uploaded-image {
  vertical-align: middle;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 3px;
}

.hidden-element {
  display: none;
}

.text-editor {
  background: $white;
  border-radius: 3px;
  min-height: 20em;
  display: inline-block;
  width: 100%;
}

.text-editor-toolbar {
  line-height: 3em;
  float: left;
  width: 100%;
  background: $grey-3;
  border-radius: 3px 3px 0 0;
  padding: 0 2em;
}

#caret-post {
  fill: $dark-gray-bottom;
  width: 1em;
  height: 1em;
  float: right;
}

.select-item {
  width: 3em;
  float: left;
  transition: $second-transitions;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $grey-8;
  }
}

.bold-text-svg, .italic-text-svg, .ordered-list-svg, .unordered-list-svg, .link-text-svg, .broken-link-svg,
.landscape-svg, .quotes-svg, .indent-svg, .outdent-svg, .undo-svg, .redo-svg, .paragraph-svg {
  height: 1em;
  width: 1em;
  margin: 1em;
  float: left;
  fill: $grey-0;
}

.heading_2-svg, .heading_3-svg {
  height: 2em;
  width: 2em;
  margin: .5em;
  float: left;
  fill: $grey-0;
}

.choose-landscape {
  float: left;
  height: 2em;
  margin: .5em;
  fill: $grey-0;
}

.redo-svg {
  transform: rotateY(-180deg);
}

.text-editor-body {
  float: left;
  width: 100%;
  position: relative;
  min-height: 17em;
  padding: 2em;
  border: 1px solid $grey-3;
  border-radius: 0 0 3px 3px;

  &:focus {
    outline: none;
  }
}

.select-item-sub, .image-select-item-sub {
  position: absolute;
  top: 3em;
  width: 15em;
  background: $grey-3;
  cursor: default;
  padding: 1em;
  transition: $second-transitions;
  z-index: 10;
  display: none;
  border-radius: 3px;

  &:hover {
    background: $grey-8;
  }

  p {
    margin: 0;
  }
}

.select-item-sub, .image-select-item-sub {
  label {
    height: 1em;
    line-height: 1em;
    color: $grey-9;
    margin-bottom: .5em;
  }
}

.select-item-sub, .image-select-item-sub {
  input {
    float: left;
    height: 2em;
  }
}

.checked-item-svg, .delete-svg {
  fill: $grey-0;
  width: 1em;
  height: 1em;
  margin: .5em;
  float: left;
}

.select-item-sub-button {
  background: $dark-gray-bottom;
  border-radius: 3px;
  margin-left: .5em;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-top: 1em;
  float: right;

  &:hover {
    background: $gray-0;

    .delete-svg, .checked-item-svg {
      fill: $grey-00;
    }
  }

  &:last-child {
    margin-left: 0;
  }
}

#upload_image_form {
  display: none;
}

blockquote {
  &:after, &:before {
    content: '"'
  }
}

.text-editor-body {
  h2 {
    margin: 0 0 1em;
  }

  h3 {
    margin: 0 0 .75em;
  }

  p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin: 1em 0;
  }

  ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 1em 0;
  }

  img {
    vertical-align: middle;
    border-radius: 3px;
  }
}

.select-category {
  border: 1px solid $gray-1;
  border-radius: 3px;
  padding: .5em;
  width: 100%;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}